.Header {
  color: #fff;
  font-family: 'Exo2.0-Thin';
  font-size: 2.71em;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1260px) {
  .Header {
    font-size: 2em;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .Header {
    font-size: 2em;
    justify-content: center;
    width: 100%;
  }
}